
.navbarMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    height: 15vh;
    width: 100vw;
    background-color: rgb(150, 160, 95);
    
    font-family: 'Raleway', sans-serif;

}

.navLogo {
    font-family: 'Young Serif', serif;
    font-size: 2rem;
    text-decoration: none;
}

.navSearchForm {
    display: flex;
    width: 650px;
    height: 45px;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.searchDropdown {
    width: 80px;
    background-color: rgb(235, 232, 232);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 7px;
    font-size: 1rem;
}

.searchField {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px;
    font-size: 1rem;
}

.searchBtn {
    width: 60px;
    border: none;
    outline: none;
    cursor: pointer;
}
.searchBtn svg {
    font-size: 1.5rem;
}

.navRightUl {
    display: flex;
    text-align: center;    
}

.navLogin,
.navCart {
    margin: 5px;
    padding: 3px;
    width: 5vw;
    background-color: darksalmon;
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    border-radius: 3px;

    display: flex;
    flex-direction: column;
}

.navLogin svg,
.navCart svg {
    font-size: 1.8rem;
}

.navLogin a,
.navCart a {
    text-decoration: none;
}

