.dividingLine {
    height: 15px;
    width: 100vw;
    background-color: var(--beige);
}

.mainFooter {
    height: 330px;
    width: 100vw;
    background-color: var(--yellow);
    border-bottom: 1px solid var(--lightgray);

    display: flex;
    padding: 80px 50px 50px 50px;
    align-items: baseline;
}

.leftFooter {
    width: 55vw;
    display: flex;
    justify-content: center;
}

.rightFooter {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.footerWrapper {
    width: 15vw;
}
.footerWrapper h2 {
    padding-bottom: 1rem;
    font-family: 'Young Serif', serif;
    font-weight: 100;
    color: var(--navy);
}
.footerWrapper ul {
    list-style-type: none;  
    line-height: 1.8;
}
.footerWrapper ul li a {
    text-decoration: none;
    font-size: 0.850rem;
    color: var(--navy);
}
.footerWrapper ul li a:hover {
    font-weight: bold;
}

.secondaryFooter {
    height: 18vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    background-color: var(--yellow);
    color: var(--navy);
}

.socialLogos {
    display: flex;
    gap: 1.875rem;
}

.socialItem {
    font-size: 1.5rem;
    color: var(--blue);
}

.logo {
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--blue);
}