.navbarMain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    height: 15vh;
    width: 100%;
    background-color: var(--yellow);    
    font-family: 'Raleway', sans-serif;
    position: fixed;
}

.navLogo {
    font-family: 'Young Serif', serif;
    font-size: 2.2rem;
    text-decoration: none;
    color: var(--blue);
}

.navSearchForm {
    display: flex;
    width: 40.625rem;
    height: 2.813rem;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
}

.dropdownMenu {
    width: 5rem;
    background-color: var(--beige);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 0.438rem;
    font-size: 0.9rem;
    /*-webkit-appearance: none; /* WebKit */
    /*-moz-appearance: none; /* Mozilla */
    /*-o-appearance: none; /* Opera */
    /*-ms-appearance: none; /* Internet Explorer */
    /*appearance: none; /* CSS3 */
}

.searchField {
    width: 100%;
    border: none;
    outline: none;
    padding: 0.438rem;
    font-size: 1rem;
}

.searchBtn {
    width: 3.75rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--beige);
}
.searchBtn svg {
    font-size: 1.5rem;
}

.navRight {
    display: flex;
}

.navRightUl {
    display: flex;
    text-align: center;  
    font-weight: 500;
}

.navLogin,
.navCart {
    margin: 0.313rem;
    padding: 0.188rem;
    width: 5vw;
    cursor: pointer;
    list-style: none;
    font-size: 1rem;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
}

.navLogin:hover,
.navCart:hover {
    background-color: var(--lightgray);
}

.navLogin svg,
.navCart svg {
    font-size: 1.8rem;
}

.navLogin a,
.navCart a {
    text-decoration: none;
    color: var(--navy);
}

/* Responsividade */
@media (max-width: 976px) {

    .navbarMain {
        height: auto;
        display: grid;  
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }

    .navLeft {
        grid-area: 1 / 2 / 2 / 3;
    } 
    .navSearchForm {
        grid-area: 2 / 2 / 3 / 5;
        margin-bottom: 1.25rem;
    }
    .navRight {
        grid-area: 1 / 4 / 2 / 5;
        justify-content: flex-end;
    }
}

@media (max-width: 780px) {
    
    /* html {
        font-size: 87.5%;   
    }   */
    .navbarMain {
        grid-template-columns: none;
    }

    .navLeft, 
    .navSearchForm,
    .navRight {
        width: 100%;
    }

    .navLogin, 
    .navCart {
        margin-right: 20px;
    }

    .navLogin a,
    .navCart a {
        display: none;
    }

    .navLogo {
        width: 100%;
    }

}
